/* Specificity of styling
1) inline
2) id
3) class
    4) type
*/

/* use selector "type1 > type2" for direct children of type1 called type2 only
and selector "type type" for all children including grandchildren of type1 called type2.*/

/* use <tag>[attribute="value"] selecting tag with specific value for an attribute */

/* use <tag>:pseudoclass for specific feedback */

h1 {
    text-align: center;
}
body {
    color: blue;
}
div {
    border: 3px solid black;
    background-color: lightgreen;
    width: 400px;
    height: 100px;
    padding: 20px;
    margin: 20px;
}
p {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}
table, td, th {
    border: 3px solid black;
    border-collapse: collapse;
    padding: 3px;
}
#foo {
    background-color: orange;
}
.bar {
    background-color: pink;
}
ol > li {
    color: green;
}
a[href="www.google.com"] {
    font-weight: bold;
    font-size: 20px;
}

@media (min-width: 600px) {
    body {
        background-color: red;
    }
}

@media (max-width: 599px) {
    body {
        background-color: grey;
    }
}